@use "base/variables";
@use "base/mixins";

.steps{
    margin-top: 5rem;

    &__wave{
        margin-top: -1px;
    }

    &__content{
        background-color: variables.$primary;
        margin-top: -1rem;
    }

    &__heading{
        text-align: center;
        color: variables.$white;
        padding-top: variables.$padding-lg;
        font-size: 2.8rem;
        &--description{
            font-size: 1.8rem;
            display: block;
        }
    }

    &__grid{
        @include mixins.ipad{
            @include mixins.grid(3, variables.$padding-xxl);
        }
    }

    &__image{
        width: 300px;
        transition-property: transform;
        transition-duration: 300ms;
        &:hover{
            transform: rotate(-4deg) scale(1.2);
        }
    }
}