@use "base/variables";
@use "base/mixins";

.header {
  background-color: variables.$alpha-color;
  height: 100px;
  display: flex;
//   flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: variables.$padding-xxl;

  @include mixins.desktop{
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    width: 30rem;
  }
}

.nav {

    &.link{

    }
}

.nav a {
  text-decoration: none;
  color: variables.$dark-gray;
  font-size: 20px;
  padding-right: variables.$margin-md;
}
